[
  {
    "name": "Test empty cmdline",
    "files": ["main.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test README.md",
    "files": ["main.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",             // Specify the entry point function for the test (optional, default is "main")
    // The first character in the -val-args argument, usually a space, indicates the separator to split the string
    // between argv[1], argv[2], ... Here argv[1] will be "blah", argv[2] will be NULL:
    "raw_options":{"-val-args": " README.md"}
    // We also need to make the file README.md available from inside the C interpreter for this test:
    "filesystem": {
      "system_errors": false,
      "files": [
         {
           "name": "README.md",
           "from": "./README.md"
         }
      ]
    }
  }
]